<?xml version="1.0"?>

<launch>

  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="launch_prefix" default="xterm -e gdb -ex run  --args" />
  <arg unless="$(arg debug)" name="launch_prefix" default="" />


<node pkg="ik_solver"  type="ik_solver_node" name="ur_ik" output="screen" launch-prefix="$(arg launch_prefix)" >
  <rosparam command="load" file="$(find ur_ik_solver)/config/params.yaml"/>
</node>
</launch>
